---
import SubSection from "./SubSection.astro";
import EducationSubSection from "./EducationSubSection.astro";
import HonorsSubSection from "./HonorsSubSection.astro";
import CertificationsSubSection from "./CertificationsSubSection.astro";
import PublicationsSubSection from "./PublicationsSubSection.astro";
import VolunteerSubSection from "./VolunteerSubSection.astro";

const { title, type, items } = Astro.props.details;
---

<section>
  <h1><span>{title.slice(0, 3)}</span>{title.slice(3)}</h1>
  <div class="section-body">
    {type === "education" ? (
      <EducationSubSection items={items} />
    ) : type === "honors" ? (
      <HonorsSubSection items={items} />
    ) : type === "certifications" ? (
      <CertificationsSubSection items={items} />
    ) : type === "publications" ? (
      <PublicationsSubSection items={items} />
    ) : type === "volunteer" ? (
      <VolunteerSubSection items={items} />
    ) : (
      <SubSection items={items} type={type} />
    )}
  </div>
</section>

<style>
  section {
    font-family: var(--sectionFontFamily);
    margin-bottom: var(--sectionMarginBottom);
  }

  section h1 {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: var(--sectionHeaderMargin);

    font-size: var(--sectionHeaderFontSize);
    font-weight: var(--sectionHeaderFontWeight);
    color: var(--colorText);

    white-space: nowrap;
  }

  section h1:after {
    content: "";
    width: 100%;
    height: 11px;
    margin-left: 2pt;
    border-bottom: 2px solid black;
  }

  section h1 span {
    color: var(--colorHighlight);
  }

  .section-body {
    padding: 0.15cm 0;
  }
</style>
