---
interface TwoColSubSection {
  title: string;
  items: string[];
}

interface DetailedSubSection {
  organization: string;
  location: string;
  href: string;
  position: string;
  dates: string;
  items: string[];
}

const { type, items } = Astro.props;

function join(items: string[], delimiter: string) {
  return (
    items.slice(0, items.length - 1).join(`${delimiter} `) +
    `${delimiter} and ` +
    items.slice(items.length - 1)
  );
}
---

<>
  {
    type === "2-col"
      ? items.map(({ title, items }: TwoColSubSection) => (
          <div class="sub-section two-col">
            <div class="sub-section-title">{title}:</div>
            <div class="sub-section-items">{join(items, ",")}</div>
          </div>
        ))
      : items.map(
          ({
            organization,
            location,
            href,
            position,
            dates,
            items,
          }: DetailedSubSection) => (
            <div class="sub-section">
              <div class="sub-section-header">
                <span class="organization">{organization}</span>
                {location && <span class="location">{location}</span>}
                {href && (
                  <a href={href} class="href">
                    {href}
                  </a>
                )}
              </div>
              {(position || dates) && (
                <div class="sub-section-header">
                  <span class="position">{position}</span>
                  <span class="dates">{dates}</span>
                </div>
              )}
              {items && (
                <ul class="sub-section-items">
                  {items.map((item) => (
                    <li>{item}</li>
                  ))}
                </ul>
              )}
            </div>
          )
        )
  }
</>

<style>
  .sub-section {
    margin-bottom: var(--subSectionMarginBottom);

    &.two-col {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      gap: 2pt;
      margin-bottom: 0.15cm;
    }

    &:last-child {
      margin-bottom: var(--subSectionMarginBottomLast);
    }
  }

  .sub-section.two-col:last-child {
    margin-bottom: var(--subSectionTwoColLastMarginBottom);
  }

  .sub-section-title {
    width: var(--subSectionTitleWidth);

    font-weight: var(--fontWeightBold);
    color: var(--colorText);
  }

  .sub-section-items {
    width: 100%;
    margin: var(--subSectionItemsMargin);
    padding-left: 13px;

    font-size: 9pt;
    font-weight: var(--fontWeightLight);
  }

  ul.sub-section-items {
    box-sizing: border-box;
    margin: var(--subSectionItemsUlMargin) 0;
  }

  .sub-section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .organization {
    font-weight: var(--fontWeightBold);
    color: var(--colorText);
    flex: 1;
  }

  .location {
    color: var(--colorhighlight);
    font-style: italic;
  }

  .position {
    font-size: var(--positionFontSize);
  }

  .dates {
    font-size: var(--datesFontSize);
    font-style: italic;
  }
</style>
